page-sistemas {

}

page-modal{
  .titular{
    font-weight: bold;
    font-size: 18px;
  }

  .nota{
  white-space: normal;
  margin: 0 auto;
  width: 65%;
  color: black;
  }

  .salto{
    white-space: pre-line;
  }
}
